* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#main {
    width: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    background-color: #01000e;
}

#main h1{
    margin: 0 0 0 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards 1.4s;
    -webkit-text-stroke: 2px white;
    color: transparent;
    transition: .5s;
  }
  
  #main h2{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i))
  }
  
  #main p{
    opacity: 0;
    animation: slideTop 1s ease forwards 1.8s;
  }
  
  #main img{
    max-width: 300px;    
    max-height: 300px;
    opacity: 0;
    animation: slideTop 1s ease forwards 2s;
  }
  
  #main .right{
    animation: animate 5s ease-in-out infinite 3s;
  }






.left {
    max-width: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name_heading {
    font-size: 21px;
    font-weight: bolder;
    font-family: sans-serif;
}

.heading {
    font-size: 45px;
    font-family: sans-serif;
    margin: 3px 0px;
}


.subheading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
}


.para {
    margin: 10px 0px;
    font-size: 17px;
    color: #d1d4df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social_media_links img {
    width: 30px;
    height: 30px;
    filter: hue-rotate(180deg);
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px purple
}
.social_media_links img:hover{
    opacity: 0.5;
}
.linkedin {
    width: 25px;
    height: 25px;
}


.social_media_links a:nth-child(even){
    margin:0px 15px;
}

.social_media_links{
    display: flex;
}
.linkedin{
    width: 40px;
    box-shadow: 0px 0px 6px 0px #f66fe4;
    height: 32px;
    text-align: center;
    border-radius: 4px;
}
.linkedin img{
    box-shadow: none;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 120px 0px;
}

.right {
    width: 390px;
    position: relative;
    height: 320px;
    margin: 0px 20px;
    transition: 0.5s;
}

#itself {
    width: 230px;
    height: 260px;
    position: absolute;
    top: 12px;
    left: 13%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.shape {
    width: 320px;
    filter: drop-shadow(purple 0px 12px 4px);
    height: 320px;


}
.right:hover{
    filter: drop-shadow(purple 0px 12px 20px);
}
#AboutUS_Section {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-color: #0e0e1a;
    display: flex
;
    justify-content: center;
    align-items: center;
}
#aboutHeading{
       
        transition: 1s;
        top: 14%;   
        left: 50%;  
        right: 0%;
}

    
.Aboutlist{
    list-style: disc;
    padding-left: 30px;
    color: #c9c9cc;
    font-family: system-ui;
}
.aboutlist_head{
    margin-top: 15px;
}
.AboutList_option{
    display: none;
}
#itself2 {
    width: 255px;
    height: 250px;
    position: absolute;
    top: 53px;
    left: 19%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    filter: drop-shadow(purple 0px -3px 4px);
}


@keyframes animate{
    0%{
      transform: translateY(0);
    }
    
    50%{
      transform: translateY(50px);
    }
    
    100%{
      transform: translateY(0);
    }
  }




@media screen and (max-width:950px){
    .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .Aboutlist{
        text-align: center;
    }
    .left{
        align-items: center;
        margin: 60px 0px;
    }
    .para{
        text-align: center;
    }
 
    .heading{
        text-align: center;
    }
    .AboutList_option{
        display: none;
    }
    .aboutlist_head{
        text-align: center;
    }
    
    .subheading{
        text-align: center;
    }
   
}

@media only screen and (max-width: 650px) {
    .skills {
     display: flex;
     flex-direction: column;
     width: 90%;
    }
    .center{
      display: none;
    }
    .each{
      width: 80%;
      margin: 10px 0px;
    }
    .project{
      margin: 50px auto;
    }
    div.item{
      width: 90%;
    }
    .Aboutlist{
      text-align: center;
    }
  }


@media screen and (max-width:430px) {
    .container{
        width: 90%;
    }
   .right{
    width: 100%;
   }
   .shape{
    width: 100%;
   }
   #shape1{
    width: 100%;
   }
   #itself2{
    width: 48%;
   }
   #itself{
    width: 60%;
   }
}